<div *ngFor="let message of messages">
  <nb-card>
    <nb-card-header>{{ message.title }}</nb-card-header>
    <nb-card-body>
      {{message.content}}
    </nb-card-body>
    <nb-card-footer>By : {{message.username}}, The {{message.sent}} </nb-card-footer>
  </nb-card>
</div>
