<nb-card>
  <nb-card-body class="example-items-col">
    <input [(ngModel)]="m.username" type="text" name="username" id="userid" nbInput fullWidth shape="round" fieldSize="medium" placeholder="Username">
    <input [(ngModel)]="m.title" type="text" name="title" id="title" nbInput fullWidth shape="round" fieldSize="medium" placeholder="Your title...">
  </nb-card-body>
  <nb-card-footer>
    <textarea [(ngModel)]="m.content" nbInput fullWidth shape="round" placeholder="Your message..."></textarea>
    <input (click)="addNewMessage()" nbButton fullWidth shape="round" type="submit" value="Send Message"/>
  </nb-card-footer>
</nb-card>
