<nb-layout>

  <!-- SIDEBAR -->
  <nb-sidebar state="compacted">
  </nb-sidebar>

  <!-- CONTENU -->
  <nb-layout-column  class="colored-column-primary">
    <app-inbox></app-inbox>
  </nb-layout-column>

  <!-- INPUT -->
  <nb-layout-footer>
    <app-send-input></app-send-input>
  </nb-layout-footer>

</nb-layout>
