<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-light text-decoration-none" href="#">My Messagerie</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-3" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-light text-decoration-none" aria-current="page" href="http://localhost:4200">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light text-decoration-none" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light text-decoration-none" href="http://localhost:4200/logins">Log In</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
